* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: brown;
    padding: 16px 0;

}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header li {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

header li a {
    color: black;
    text-decoration: none;
    padding: 6px;
}

.container {
    width: 1266px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /* height: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px;
}

section h2, 
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    border-radius: 10%;
    background-color: silver;
    color: black;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

section h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
}

#sports {
    background-color: rgba(100, 255, 100, 0.3)
}

#economy {
    background-color: rgba(133, 164, 209, 0.7);
}

#culture {
    background-color: rgb(209, 186, 230);
}

#culture .articles article a {
    background-color: rgb(98, 112, 241);
    color: black;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

#culinaria {
    background-color: rgb(233, 182, 173);
}

#culinaria .articles article a {
    background-color: rgb(221, 32, 32);
    color: black;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}
